{% extends 'layout.html' %}
{% load crispy_forms_tags %}

{% block main_page %}
  <div class="panel-body">
    <div class="row">
      <div class="panel-body">
        <div class="row">
          <div class="col-lg-6 col-md-offset-3">
            <h1 class="page-header">Logout</h1>
            <form method="post">
                {% csrf_token %}
                {{ form|crispy }}
                <button type="submit" class="btn btn-primary pull-right">Logout</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}